# Server configuration
HOST=0.0.0.0
PORT=8000
FRONTEND_URL=http://localhost:3000

# Qdrant Database
QDRANT_URL=https://xxxx.qdrant.tech
QDRANT_API_KEY=your_qdrant_api_key

# Cohere API (Reranking)
COHERE_API_KEY=your_cohere_api_key

OMNIGATE_BASE_URL=https://llmgateway.onrender.com
LITELLM_MASTER_KEY=your_litellm_master_key # DO NOT COMMIT/LEAK THIS KEY

# Logfire Tracing
LOGFIRE_TOKEN=your_logfire_token
